.mainHeader {
     width: 100%;
}
.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 30px;
}
.flex {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    margin-bottom:10px;
}

/*.ant-menu{*/
/*    background: white;*/
/*}*/

