.center {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    padding: 10px;
    text-align: left;
  }
.flex {
    text-align: left;
    margin: auto;
  }

.cards {
    padding: 50px;
    margin-bottom: 100px;
}
